# .github/workflows/ci.yml
name: CI
on: [push, pull_request]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.12', '3.13', '3.14']
        task: [check, test, format]
        exclude:
        - os: windows-latest
          python-version: '3.13'
        - os: windows-latest
          python-version: '3.14'
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} ${{ matrix.task }} (py ${{ matrix.python-version }})

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run commands
        shell: bash
        if: runner.os != 'Windows'
        run: |
          uv sync --extra dev
          if [ "${{ matrix.task }}" = "check" ]; then
            uv run pyright typeagent test tools gmail
          elif [ "${{ matrix.task }}" = "test" ]; then
            uv run pytest
          elif [ "${{ matrix.task }}" = "format" ]; then
            uv run black -tpy312 -tpy313 -tpy314 typeagent test tools gmail demo --check
          fi

      - name: Run commands (Windows)
        shell: pwsh
        if: runner.os == 'Windows'
        run: |
          uv sync --extra dev
          if ("${{ matrix.task }}" -eq "check") {
            uv run pyright typeagent test tools gmail
          }
          elseif ("${{ matrix.task }}" -eq "test") {
            uv run pytest
          }
          elseif ("${{ matrix.task }}" -eq "format") {
            uv run black -tpy312 -tpy313 -tpy314 typeagent test tools gmail demo --check
          }